<div class="col-sm-5 col-md-3 well well-block">
    <span class="pull-right">
        <a [routerLink]="['/addStudent/',student.id]">
            <i  class="fa fa-edit fa-lg mouse-hover text-primary" title="Edit Course"></i></a>&nbsp;
        <i class="fa fa-remove fa-lg mouse-hover text-primary" title="Remove Course" (click)="removeStudent()"></i>
    </span>
    <p>
        <strong>{{student.firstName}}, {{student.lastName}}</strong><br><br>
        <strong>Registered in school <span class="badge mouse-hover" data-toggle="modal" data-target="#myModal" title="Registered in school">{{student.schoolInYear}}</span></strong><br>
        <span class="word-wrap-multiline">{{studentCourseFormattedString}}</span>
    </p>
</div>
