/* You can add global styles to this file, and also import other style files */
/*
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
div.row {
border: 1px solid;
border-bottom: 0px;
}
.container div.row:last-child {
border-bottom: 1px solid;
}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #083e4b;
border: 1px solid transparent;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
height: 50px;
}


*/
li:hover {
    background-color: #002b36;
}

.mouse-hover{
    cursor: pointer;
    cursor: hand;
}

.li-selected {
    background-color: #002b36;
}

.well-block {
    margin:10px;
    box-shadow: 5px 5px 5px;
}
.div-margin {
    margin-left:10px;
}
.badge-fonts {
    font-size: 24px !important;
}


.word-wrap-multiline {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    /*max-width: 400px;*/
    height: 58.8px; /* font-size*line-height*line-clamp  Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
